
BasedOnStyle:  Webkit
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
UseCRLF: false

---
Language: Cpp
PointerAlignment: Left
DisableFormat: false
AlignAfterOpenBracket: true
SortIncludes: true
IncludeBlocks: Preserve
---
