
BasedOnStyle:  Webkit
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
UseCRLF: false

---
Language: Cpp
PointerAlignment: Left
DisableFormat: false
SortIncludes: true
IncludeBlocks: Preserve
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 100
PenaltyBreakBeforeFirstCallParameter: 1
---
